<div id="<%= dom_id carinfo %>">
  <p>
    <strong>Car:</strong>
    <%= carinfo.car_id %>
  </p>

  <p>
    <strong>Plate:</strong>
    <%= carinfo.plate %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= carinfo.owner %>
  </p>

</div>
